.btnPage {
  padding: 5px 10px;
  color: #56565b;
  font-size: 16px;
  background: transparent;
  border: 2px solid #8282e7;
  border-radius: 10px;
  cursor: pointer;
  margin-left: 5px;
}

.btnPage:hover {
  color: aliceblue;
  background-color: #8282e7;
}

.btnPageCurrent {
  color: aliceblue;
  background-color: #8282e7;
}