.main {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.mainWithSidebar {
  max-width: 80%;
  padding: 2rem;
  text-align: center;
  opacity: 1;
}

.mainProducts {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}


